<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string></string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BannerIdentifier</key>
				<string>032EA93A-BFBB-4056-BDF8-5D94BF156E04</string>
				<key>CreatedDate</key>
				<date>2018-07-16T11:47:32Z</date>
				<key>CustomThemeName</key>
				<string>Future</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Gallery</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
					<key>Version</key>
					<string>7.0</string>
				</dict>
				<key>PublishingManifests</key>
				<dict>
					<key>file:///Users/Alice/Sites/</key>
					<dict>
						<key>CreationDate</key>
						<date>2018-09-14T23:19:20Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>PageDigests</key>
						<dict>
							<key>files/page2-1000-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								wILCWr4eYUn5
								SCUQsQhFKA==
								</data>
								<key>Size</key>
								<integer>980</integer>
							</dict>
							<key>files/page2-1000-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								nGbcfz6QEqX5
								ugfdn8merg==
								</data>
								<key>Size</key>
								<integer>37560</integer>
							</dict>
							<key>files/page2-1000-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								bIh5TP3IP3tz
								DFAPN3mPtw==
								</data>
								<key>Size</key>
								<integer>19035</integer>
							</dict>
							<key>files/page2-1001-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								cgvspwMk+NeD
								lYPyIHFyfw==
								</data>
								<key>Size</key>
								<integer>1018</integer>
							</dict>
							<key>files/page2-1001-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								KeF1k9FgYi6A
								zfiv0XHDwg==
								</data>
								<key>Size</key>
								<integer>69050</integer>
							</dict>
							<key>files/page2-1001-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Kvg+TOgM6R4Q
								nrEh6s8zCw==
								</data>
								<key>Size</key>
								<integer>32865</integer>
							</dict>
							<key>files/page2-1002-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								WaS8IO0+ouE7
								kBOqYCWrzQ==
								</data>
								<key>Size</key>
								<integer>1026</integer>
							</dict>
							<key>files/page2-1002-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								lrfYvk8bX3Tr
								mDYDn1Mq7A==
								</data>
								<key>Size</key>
								<integer>36886</integer>
							</dict>
							<key>files/page2-1002-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								qHlDGF7Hzrmh
								YlNswS6zwA==
								</data>
								<key>Size</key>
								<integer>17186</integer>
							</dict>
							<key>files/page2-1003-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								HhI/dWe2wgxf
								MsUTgGDTOQ==
								</data>
								<key>Size</key>
								<integer>1016</integer>
							</dict>
							<key>files/page2-1003-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								ZhsZ9yRX77iw
								WA5RRMkHyw==
								</data>
								<key>Size</key>
								<integer>46292</integer>
							</dict>
							<key>files/page2-1003-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MYnSKqBIqxNi
								rA1eih6jbQ==
								</data>
								<key>Size</key>
								<integer>18839</integer>
							</dict>
							<key>files/page2-1004-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								tkk9GyvCSGMD
								TXWiMhCl9Q==
								</data>
								<key>Size</key>
								<integer>1022</integer>
							</dict>
							<key>files/page2-1004-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MGumIKDiXEoU
								RQ/Q3emGBQ==
								</data>
								<key>Size</key>
								<integer>51013</integer>
							</dict>
							<key>files/page2-1004-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sEEyqBppLxeu
								jKa2OD3nPA==
								</data>
								<key>Size</key>
								<integer>23683</integer>
							</dict>
							<key>files/page2-1005-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								+5cOk+aLdCuF
								C4zSgNEw9g==
								</data>
								<key>Size</key>
								<integer>1026</integer>
							</dict>
							<key>files/page2-1005-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								MK2UuuIN5IFH
								gcYoKEpG4w==
								</data>
								<key>Size</key>
								<integer>58564</integer>
							</dict>
							<key>files/page2-1005-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								obTINjKj3f4h
								e75TzMm0ww==
								</data>
								<key>Size</key>
								<integer>24662</integer>
							</dict>
							<key>files/page2-1006-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								nWNkG0Ynroh7
								a5073JL0ww==
								</data>
								<key>Size</key>
								<integer>1040</integer>
							</dict>
							<key>files/page2-1006-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								EnSZw+jR8OfM
								fvqYbxM1XA==
								</data>
								<key>Size</key>
								<integer>27264</integer>
							</dict>
							<key>files/page2-1006-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								5eH1z+3pv6oY
								bm7Xa3VQCQ==
								</data>
								<key>Size</key>
								<integer>15967</integer>
							</dict>
							<key>files/page2-1007-full.html</key>
							<dict>
								<key>Digest</key>
								<data>
								D346LLNy7jO1
								ZoLlZLK5dw==
								</data>
								<key>Size</key>
								<integer>986</integer>
							</dict>
							<key>files/page2-1007-full.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								sb7XOCrnEwW2
								UEKqS1RN4w==
								</data>
								<key>Size</key>
								<integer>52798</integer>
							</dict>
							<key>files/page2-1007-thumb.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								Q3YAJ+4BThhl
								SKaz0Ez/Tw==
								</data>
								<key>Size</key>
								<integer>22441</integer>
							</dict>
							<key>index.html</key>
							<dict>
								<key>Digest</key>
								<data>
								TTMla3TG91cG
								hI57L7LNGg==
								</data>
								<key>Size</key>
								<integer>6850</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>page2</string>
						<key>SiteRoot</key>
						<string>photos</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
